In [1]:
import turicreate

In [2]:
song_data = turicreate.SFrame('m_cccc16853452d1ed.frame_idx')

In [4]:
kanye = song_data[song_data['artist']=='Kanye West']

In [5]:
foo = song_data[song_data['artist']=='Foo Fighters']
swift = song_data[song_data['artist']=='Taylor Swift']
gaga = song_data[song_data['artist']=='Lady GaGa']

In [7]:
len(kanye['user_id'].unique())

2522

In [8]:
len(foo['user_id'].unique())

2055

In [9]:
len(swift['user_id'].unique())

3246

In [10]:
len(gaga['user_id'].unique())

2928

In [14]:
song_data.groupby('artist', operations={'total_count': turicreate.aggregate.SUM('listen_count')}).sort('total_count', ascending = False)

Columns:
	artist	str
	total_count	int

Rows: 3375

Data:
+------------------------+-------------+
|         artist         | total_count |
+------------------------+-------------+
|     Kings Of Leon      |    43218    |
|     Dwight Yoakam      |    40619    |
|         Björk          |    38889    |
|        Coldplay        |    35362    |
| Florence + The Machine |    33387    |
|     Justin Bieber      |    29715    |
|    Alliance Ethnik     |    26689    |
|      OneRepublic       |    25754    |
|         Train          |    25402    |
|     The Black Keys     |    22184    |
+------------------------+-------------+
[3375 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
song_data.groupby('artist', operations={'total_count': turicreate.aggregate.SUM('listen_count')}).sort('total_count')

Columns:
	artist	str
	total_count	int

Rows: 3375

Data:
+-------------------------------+-------------+
|             artist            | total_count |
+-------------------------------+-------------+
|        William Tabbert        |      14     |
|         Reel Feelings         |      24     |
| Beyoncé feat. Bun B and Sl... |      26     |
|             Diplo             |      30     |
|         Boggle Karaoke        |      30     |
|         harvey summers        |      31     |
|             Nâdiya            |      36     |
| Kanye West / Talib Kweli /... |      38     |
|        Aneta Langerova        |      38     |
|          Jody Bernal          |      38     |
+-------------------------------+-------------+
[3375 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.